{
	"env": {
		"commonjs": false,
		"es6": true,
		"browser": true,
		"node": true
	},
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2021
	},
	"rules": {
		"@typescript-eslint/no-var-requires": ["off"],
		"indent": ["warn", "tab"],
		"linebreak-style": ["warn", "windows"],
		"no-console": ["error"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"]
	}
}